<h2>Database Management Systems (139 bugs)</h2>
<h3>TiDB (45 bugs)</h3>
<details>
<summary>incorrect unresolved column when using natural join</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35522">https://github.com/pingcap/tidb/issues/35522</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>unexpected unresolved column error when the view refers to dual table</summary>
Status: fixed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35527">https://github.com/pingcap/tidb/issues/35527</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Runtime error: invalid memory address</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35623">https://github.com/pingcap/tidb/issues/35623</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result with a FALSE Expression in WHERE</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35645">https://github.com/pingcap/tidb/issues/35645</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error by CAST and CHAR functions</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35652">https://github.com/pingcap/tidb/issues/35652</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error for Function INET_ATON</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35677">https://github.com/pingcap/tidb/issues/35677</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Connection Lost</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35678">https://github.com/pingcap/tidb/issues/35678</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Inconsistent Results in SELECT</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/36853">https://github.com/pingcap/tidb/issues/36853</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by CONCAT_WS</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/36888">https://github.com/pingcap/tidb/issues/36888</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>ERROR 8141 (HY000): assertion failed</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38295">https://github.com/pingcap/tidb/issues/38295</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Incorrect Results by `REGEXP`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38303">https://github.com/pingcap/tidb/issues/38303</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Incorrect Result by `LEFT JOIN`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38304">https://github.com/pingcap/tidb/issues/38304</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>runtime error: invalid memory address or nil pointer dereference</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38305">https://github.com/pingcap/tidb/issues/38305</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Results</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38310">https://github.com/pingcap/tidb/issues/38310</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Error [types:1690]%s value is out of range in '%s'</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38352">https://github.com/pingcap/tidb/issues/38352</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error: Failed to read auto-increment value from storage engine</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38483">https://github.com/pingcap/tidb/issues/38483</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Results by RIGHT JOIN</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38654">https://github.com/pingcap/tidb/issues/38654</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>rule PredicatePushDown pushes wrong filter across projection</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38736">https://github.com/pingcap/tidb/issues/38736</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>ERROR 8141 (HY000): assertion failed</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38295">https://github.com/pingcap/tidb/issues/38295</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Incorrect Results by `REGEXP`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38303">https://github.com/pingcap/tidb/issues/38303</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Incorrect Result by `LEFT JOIN`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38304">https://github.com/pingcap/tidb/issues/38304</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>runtime error: invalid memory address or nil pointer dereference</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38305">https://github.com/pingcap/tidb/issues/38305</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Results</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38310">https://github.com/pingcap/tidb/issues/38310</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Estimated Rows of `OR`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38319">https://github.com/pingcap/tidb/issues/38319</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Error [types:1690]%s value is out of range in '%s'</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38352">https://github.com/pingcap/tidb/issues/38352</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Question About the Estimated Rows in `GROUP BY`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38474">https://github.com/pingcap/tidb/issues/38474</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Suspicious Estimated Rows by `JOIN`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38479">https://github.com/pingcap/tidb/issues/38479</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Suspicious Estimated Rows by HAVING</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38482">https://github.com/pingcap/tidb/issues/38482</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error: Failed to read auto-increment value from storage engine</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38483">https://github.com/pingcap/tidb/issues/38483</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Results by RIGHT JOIN</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38654">https://github.com/pingcap/tidb/issues/38654</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Estimated Rows by INNER JOIN</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38665">https://github.com/pingcap/tidb/issues/38665</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Estimated Rows by WHERE clause</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38721">https://github.com/pingcap/tidb/issues/38721</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>rule PredicatePushDown pushes wrong filter across projection</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/38736">https://github.com/pingcap/tidb/issues/38736</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>runtime error: index out of range [7] with length 4</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/44747">https://github.com/pingcap/tidb/issues/44747</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected result of subquery</summary>
Status: fixed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/42912">https://github.com/pingcap/tidb/issues/42912</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected error in `ORDER BY`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/42941">https://github.com/pingcap/tidb/issues/42941</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected error message on constant</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/42942">https://github.com/pingcap/tidb/issues/42942</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>An expression has two different value in two queries</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/43026">https://github.com/pingcap/tidb/issues/43026</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`runtime error: index out of range [1] with length 1` on `SELECT`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/43256">https://github.com/pingcap/tidb/issues/43256</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results of subquery in `INSERT`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/43373">https://github.com/pingcap/tidb/issues/43373</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected error `Unknown column 't1.c0' in 'where clause'`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/43569">https://github.com/pingcap/tidb/issues/43569</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results when `CASE` and `IN` use together</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/43624">https://github.com/pingcap/tidb/issues/43624</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected error `Unknown table ''` on CTE</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/44673">https://github.com/pingcap/tidb/issues/44673</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected error when `CHECK` a predicate that is always true.</summary>
Status: fixed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/44689">https://github.com/pingcap/tidb/issues/44689</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results of `ANY` operator</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/44706">https://github.com/pingcap/tidb/issues/44706</a> <br />
Found by: Chi Zhang
</details>
<h3>SQLite (35 bugs)</h3>
<details>
<summary>An Inconsistent Result Depending on Parenthesization</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/af3d07f908">https://sqlite.org/forum/forumpost/af3d07f908</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>An Unexpected NULL Column Caused by Where Clause in RIGHT JOIN</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/41cc3851d8">https://sqlite.org/forum/forumpost/41cc3851d8</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Rows are Unexpectedly Filtered Out by DISTINCT in RIGHT JOIN</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/c06b10ad7e">https://sqlite.org/forum/forumpost/c06b10ad7e</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Expression or Constant in GroupBy Clause</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/2458c5dea2">https://sqlite.org/forum/forumpost/2458c5dea2</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Ambiguous Reference Error for Right Join</summary>
Status: confirmed<br />
Link: <a href="https://sqlite.org/forum/forumpost/e90a8e6e6f">https://sqlite.org/forum/forumpost/e90a8e6e6f</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by WHERE when Joining Tables</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/687b0bf563">https://sqlite.org/forum/forumpost/687b0bf563</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by WHERE/RIGHT JOIN</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/5cfe08eed6">https://sqlite.org/forum/forumpost/5cfe08eed6</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result in Joining Virtual Tables</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/3902c7b833">https://sqlite.org/forum/forumpost/3902c7b833</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by Joining</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/c2554d560b">https://sqlite.org/forum/forumpost/c2554d560b</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by RIGHT JOIN on RTree Tables</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/087de2d9ec">https://sqlite.org/forum/forumpost/087de2d9ec</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by WHERE Again</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/de16c4abe2">https://sqlite.org/forum/forumpost/de16c4abe2</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by RIGHT JOIN</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/206d99a16d">https://sqlite.org/forum/forumpost/206d99a16d</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Assertion Error in SQLite3MemCompare</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/800eecf5e6">https://sqlite.org/forum/forumpost/800eecf5e6</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by ORDER BY</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/323f86cc30">https://sqlite.org/forum/forumpost/323f86cc30</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by RIGHT JOIN with INDEX</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/c4676c4956">https://sqlite.org/forum/forumpost/c4676c4956</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by JSON</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/3d9caa45cb">https://sqlite.org/forum/forumpost/3d9caa45cb</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by Complicated JOINING</summary>
Status: unconfirmed<br />
Link: <a href="https://sqlite.org/forum/forumpost/eeb8173cf8">https://sqlite.org/forum/forumpost/eeb8173cf8</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Assertion `pCur->eCurType==CURTYPE_VTAB' failed</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/dafe0500b0">https://sqlite.org/forum/forumpost/dafe0500b0</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by RIGHT JOIN Again</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/51e6959f61">https://sqlite.org/forum/forumpost/51e6959f61</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by Complicated JOINING Again</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/b40696f501">https://sqlite.org/forum/forumpost/b40696f501</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Assertion Error in valueFromFunction</summary>
Status: unconfirmed<br />
Link: <a href="https://sqlite.org/forum/forumpost/e3243e07e8">https://sqlite.org/forum/forumpost/e3243e07e8</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by FULL OUTER JOIN</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/5610c17c3d">https://sqlite.org/forum/forumpost/5610c17c3d</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Expression on ON clause</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/57bdf2217d">https://sqlite.org/forum/forumpost/57bdf2217d</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Expression Result by FULL OUTER JOIN</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/6650cd40b5">https://sqlite.org/forum/forumpost/6650cd40b5</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Parse Error</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/1a7fea4651">https://sqlite.org/forum/forumpost/1a7fea4651</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Assertion Error in whereRangeScanEst</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/c3496cf6b1">https://sqlite.org/forum/forumpost/c3496cf6b1</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by Union</summary>
Status: unconfirmed<br />
Link: <a href="https://sqlite.org/forum/forumpost/174afeae57">https://sqlite.org/forum/forumpost/174afeae57</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Assertion `pRec->nField>0 && pRec->nField<=pIdx->nSampleCol' failed.</summary>
Status: unconfirmed<br />
Link: <a href="https://sqlite.org/forum/forumpost/3607259d3c">https://sqlite.org/forum/forumpost/3607259d3c</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Incorrect results with the latest trunk version</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/info/0846211821513f50">https://sqlite.org/forum/info/0846211821513f50</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Incorrect result that might be caused by json function</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/info/37dd14a538ea84e0">https://sqlite.org/forum/info/37dd14a538ea84e0</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Incorrect result for COUNT on view with window function</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/info/2cd11c2d37696553">https://sqlite.org/forum/info/2cd11c2d37696553</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Incorrect result might caused by INDEX</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/info/a68313d0545273c8">https://sqlite.org/forum/info/a68313d0545273c8</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>An assertion failure only triggers in JDBC driver with -DSQLITE_DEBUG=1 compile option</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/info/dc4854437bda462c">https://sqlite.org/forum/info/dc4854437bda462c</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results of `JOIN`</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/8f48e29d67">https://sqlite.org/forum/forumpost/8f48e29d67</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected result of `JOIN`</summary>
Status: fixed<br />
Link: <a href="https://sqlite.org/forum/forumpost/96cd4a7e9e">https://sqlite.org/forum/forumpost/96cd4a7e9e</a> <br />
Found by: Chi Zhang
</details>
<h3>DuckDB (28 bugs)</h3>
<details>
<summary>BETWEEN with subquery and column results in unexpected error</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/3588">https://github.com/duckdb/duckdb/issues/3588</a> <br />
Found by: kokrui
</details>
<details>
<summary>Unexpected Error for RTRIM Function in Where Clause</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/3616">https://github.com/duckdb/duckdb/issues/3616</a> <br />
Found by: kokrui
</details>
<details>
<summary>Crash When Creating Index</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/4976">https://github.com/duckdb/duckdb/issues/4976</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Segmentation fault on `BETWEEN`</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/6861">https://github.com/duckdb/duckdb/issues/6861</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected result when take subquery as operand</summary>
Status: confirmed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7044">https://github.com/duckdb/duckdb/issues/7044</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Different returned datatype of a `CASE` statement in different query.</summary>
Status: confirmed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7064">https://github.com/duckdb/duckdb/issues/7064</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results when integer overflow</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7094">https://github.com/duckdb/duckdb/issues/7094</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results on specific values</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7142">https://github.com/duckdb/duckdb/issues/7142</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Hang on `SELECT` query</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7143">https://github.com/duckdb/duckdb/issues/7143</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`INTERNAL Error: Logical column index 1 out of range`</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7250">https://github.com/duckdb/duckdb/issues/7250</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>DuckDB hang on `DELETE`</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7530">https://github.com/duckdb/duckdb/issues/7530</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Segmentation fault on `SELECT`</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7551">https://github.com/duckdb/duckdb/issues/7551</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Inconsistent results of subquery in `INSERT` and `SELECT`, and an unexpected error</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7601">https://github.com/duckdb/duckdb/issues/7601</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>DuckDB hang on `DELETE`</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7610">https://github.com/duckdb/duckdb/issues/7610</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results on common table expressions</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/7960">https://github.com/duckdb/duckdb/issues/7960</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Incorrect result by subquery and join</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/100561">https://github.com/cockroachdb/cockroach/issues/100561</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>internal error: null rejection requested on non-null column</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/100559">https://github.com/cockroachdb/cockroach/issues/100559</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>kvcoord: setting `kv.range_descriptor_cache.size=0` results in range iterator to retry endlessly</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/101011">https://github.com/cockroachdb/cockroach/issues/101011</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>internal error: failed to parse locale "": language: tag is not well-formed</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/101418">https://github.com/cockroachdb/cockroach/issues/101418</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results of `TIME` value under JDBC</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/101591">https://github.com/cockroachdb/cockroach/issues/101591</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`internal error: expected subquery to be lazily planned as a routine`</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/101980">https://github.com/cockroachdb/cockroach/issues/101980</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results of `CASE` and `BETWEEN`</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/102110">https://github.com/cockroachdb/cockroach/issues/102110</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results might be related to `BIT` and `INDEX`</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/102412">https://github.com/cockroachdb/cockroach/issues/102412</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected error `unknown signature: bit_length(string) (desired <int[]>)`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/102716">https://github.com/cockroachdb/cockroach/issues/102716</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results of `IN` with redundant values list </summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/102864">https://github.com/cockroachdb/cockroach/issues/102864</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected results related to `INDEX`</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/103755">https://github.com/cockroachdb/cockroach/issues/103755</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Inconsistent result of `AVG` on big float number</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/104319">https://github.com/cockroachdb/cockroach/issues/104319</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected hang on subquery</summary>
Status: fixed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/105882">https://github.com/cockroachdb/cockroach/issues/105882</a> <br />
Found by: Chi Zhang
</details>
<h3>CockroachDB (25 bugs)</h3>
<details>
<summary>sql: support SCRUB on temp tables</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83770">https://github.com/cockroachdb/cockroach/issues/83770</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Internal Error: Comparison Overload not Found</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83792">https://github.com/cockroachdb/cockroach/issues/83792</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>ERROR: no builtin aggregate for SUM_INT on [unknown]</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83874">https://github.com/cockroachdb/cockroach/issues/83874</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Crashing by EXPLAIN Statement</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83965">https://github.com/cockroachdb/cockroach/issues/83965</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Invalid Memory Address Error of Specific SQL Query</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83973">https://github.com/cockroachdb/cockroach/issues/83973</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error of Unique Index</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83976">https://github.com/cockroachdb/cockroach/issues/83976</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Crash: panic: RecordingStructured has 30 recordings; expected 1</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/84056">https://github.com/cockroachdb/cockroach/issues/84056</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Overflow Error by Huge Interval Value</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/84154">https://github.com/cockroachdb/cockroach/issues/84154</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Inconsistent Case Return Types Decimal Int</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/85356">https://github.com/cockroachdb/cockroach/issues/85356</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>No Result Returned by SHOW COLUMN</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/85388">https://github.com/cockroachdb/cockroach/issues/85388</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>internal error: no volatility for cast decimal::timestamp</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/85389">https://github.com/cockroachdb/cockroach/issues/85389</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>opt: internal error: lookup for ComparisonExpr</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/85390">https://github.com/cockroachdb/cockroach/issues/85390</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>opt: internal error: no output column equivalent to 2</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/85393">https://github.com/cockroachdb/cockroach/issues/85393</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error in SHOW COLUMNS</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/85394">https://github.com/cockroachdb/cockroach/issues/85394</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>opt: internal error: estimated row count must be non-zero </summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/85499">https://github.com/cockroachdb/cockroach/issues/85499</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result by UNION</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/85502">https://github.com/cockroachdb/cockroach/issues/85502</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>An Unexpected Error in `CROSS MERGE JOIN`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/88104">https://github.com/cockroachdb/cockroach/issues/88104</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>ERROR: internal error: expected *DInt, found tree.dNull</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/94264">https://github.com/cockroachdb/cockroach/issues/94264</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>An Unexpected Error in `CROSS MERGE JOIN`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/88104">https://github.com/cockroachdb/cockroach/issues/88104</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Potential Issue for Estimated Rows</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/88455">https://github.com/cockroachdb/cockroach/issues/88455</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>An Issue of Estimated Rows</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/89161">https://github.com/cockroachdb/cockroach/issues/89161</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Estimated Rows in `HAVING` clause</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/89462">https://github.com/cockroachdb/cockroach/issues/89462</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Suspicious Estimated Rows by `OR` </summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/90112">https://github.com/cockroachdb/cockroach/issues/90112</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Suspicious Estimated Rows by `DISTINCT`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/90113">https://github.com/cockroachdb/cockroach/issues/90113</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>ERROR: internal error: expected *DInt, found tree.dNull</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/94264">https://github.com/cockroachdb/cockroach/issues/94264</a> <br />
Found by: bajinsheng
</details>
<h3>MySQL (6 bugs)</h3>
<details>
<summary>Suspicious Estimated Rows</summary>
Status: unconfirmed<br />
Link: <a href="https://bugs.mysql.com/bug.php?id=108833">https://bugs.mysql.com/bug.php?id=108833</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Suspicious Estimated Rows by JOIN</summary>
Status: unconfirmed<br />
Link: <a href="https://bugs.mysql.com/bug.php?id=108851">https://bugs.mysql.com/bug.php?id=108851</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Suspicious Estimated Rows by DISTINCTROW</summary>
Status: unconfirmed<br />
Link: <a href="https://bugs.mysql.com/bug.php?id=108852">https://bugs.mysql.com/bug.php?id=108852</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error: Memory capacity exceeded</summary>
Status: unconfirmed<br />
Link: <a href="https://bugs.mysql.com/bug.php?id=111471">https://bugs.mysql.com/bug.php?id=111471</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Wrong result of `IN` clause</summary>
Status: confirmed<br />
Link: <a href="https://bugs.mysql.com/bug.php?id=111241">https://bugs.mysql.com/bug.php?id=111241</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected error when `CHECK` a predicate that is always true</summary>
Status: confirmed<br />
Link: <a href="https://bugs.mysql.com/bug.php?id=111421">https://bugs.mysql.com/bug.php?id=111421</a> <br />
Found by: Chi Zhang
</details>
<h2>Datalog Engines (30 bugs)</h2>
<h3>Soufflé (23 bugs)</h3>
<details>
<summary>Negative zero causes different results for interpreter mode and compiler mode</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2311">https://github.com/souffle-lang/souffle/issues/2311</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>A problem about ungrounded variable</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2318">https://github.com/souffle-lang/souffle/issues/2318</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Souffle crashed on aggregates</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2320">https://github.com/souffle-lang/souffle/issues/2320</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Assertion failure "relation not found" on provenance</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2321">https://github.com/souffle-lang/souffle/issues/2321</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>A problem about subsumption</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2322">https://github.com/souffle-lang/souffle/issues/2322</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>A problem that the result of subsumption is correct, but the final result is wrong</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2323">https://github.com/souffle-lang/souffle/issues/2323</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>The subsumption causes the execution of program been killed</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2324">https://github.com/souffle-lang/souffle/issues/2324</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>"inline" causes assertion failure "functor type not set"</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2326">https://github.com/souffle-lang/souffle/issues/2326</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Wrong result caused by "eqrel"</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2327">https://github.com/souffle-lang/souffle/issues/2327</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Wrong result with `inline` and `no_magic`</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2337">https://github.com/souffle-lang/souffle/issues/2337</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`inline` cause `Ungrounded variable` not assertion failure</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2338">https://github.com/souffle-lang/souffle/issues/2338</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`inline` cause `Floating-point arithmetic exception` without divide-by-zero</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2339">https://github.com/souffle-lang/souffle/issues/2339</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`inline` and `magic` used together cause `Segmentation violation`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2340">https://github.com/souffle-lang/souffle/issues/2340</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>different result under interpreter and compiler mode</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2343">https://github.com/souffle-lang/souffle/issues/2343</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Assertion failure on auto-tuning</summary>
Status: fixed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2346">https://github.com/souffle-lang/souffle/issues/2346</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Insufficient grammar check for query plan</summary>
Status: fixed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2351">https://github.com/souffle-lang/souffle/issues/2351</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`inline` causes assertion failure `numeric constant type not set`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2355">https://github.com/souffle-lang/souffle/issues/2355</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`inline` in recursive query trigger an error with query plan</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2369">https://github.com/souffle-lang/souffle/issues/2369</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`magic` causes different result</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2375">https://github.com/souffle-lang/souffle/issues/2375</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Insufficient checking on unground variable</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2379">https://github.com/souffle-lang/souffle/issues/2379</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>A problem about subsumption.</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2382">https://github.com/souffle-lang/souffle/issues/2382</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>`eqrel` doesn't work well with provenance</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2385">https://github.com/souffle-lang/souffle/issues/2385</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Assertion failure on `Auto-Scheduling`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/souffle-lang/souffle/issues/2426">https://github.com/souffle-lang/souffle/issues/2426</a> <br />
Found by: Chi Zhang
</details>
<h3>CozoDB (5 bugs)</h3>
<details>
<summary>Unexpected error in query parser</summary>
Status: fixed<br />
Link: <a href="https://github.com/cozodb/cozo/issues/97">https://github.com/cozodb/cozo/issues/97</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>System panic on modulo by zero</summary>
Status: fixed<br />
Link: <a href="https://github.com/cozodb/cozo/issues/99">https://github.com/cozodb/cozo/issues/99</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Inconsistent results of two equivalent programs</summary>
Status: fixed<br />
Link: <a href="https://github.com/cozodb/cozo/issues/101">https://github.com/cozodb/cozo/issues/101</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>unexpected error of function `trim_start`</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cozodb/cozo/issues/113">https://github.com/cozodb/cozo/issues/113</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Unexpected result of `ge` on `-0.0` and `0.0` under magic rewrite</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cozodb/cozo/issues/122">https://github.com/cozodb/cozo/issues/122</a> <br />
Found by: Chi Zhang
</details>
<h3>μZ (2 bugs)</h3>
<details>
<summary>Wrong result of z3 datalog</summary>
Status: fixed<br />
Link: <a href="https://github.com/Z3Prover/z3/issues/6446">https://github.com/Z3Prover/z3/issues/6446</a> <br />
Found by: Chi Zhang
</details>
<details>
<summary>Wrong result of z3 datalog with predict</summary>
Status: confirmed<br />
Link: <a href="https://github.com/Z3Prover/z3/issues/6447">https://github.com/Z3Prover/z3/issues/6447</a> <br />
Found by: Chi Zhang
</details>
<h2>XML Processors (26 bugs)</h2>
<h3>BaseX (16 bugs)</h3>
<details>
<summary>Error in arithemetic calculation result comparison</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2188">https://github.com/BaseXdb/basex/issues/2188</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Unexpected exception of division by zero</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2189">https://github.com/BaseXdb/basex/issues/2189</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug of operation on non-existing attribute</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2190">https://github.com/BaseXdb/basex/issues/2190</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on node selection with last()</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2191">https://github.com/BaseXdb/basex/issues/2191</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on child node selection with count()</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2193">https://github.com/BaseXdb/basex/issues/2193</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on node selection with self axis</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2194">https://github.com/BaseXdb/basex/issues/2194</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Internal crash on has-children() result comparison</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2213">https://github.com/BaseXdb/basex/issues/2213</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Incorrect result for count after subsequence</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2214">https://github.com/BaseXdb/basex/issues/2214</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Unexpected exception of mapping double attributes</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2215">https://github.com/BaseXdb/basex/issues/2215</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on map operation of empty sequence</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2216">https://github.com/BaseXdb/basex/issues/2216</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on consecutive map with distinct-values</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2217">https://github.com/BaseXdb/basex/issues/2217</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on node selection with position()</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2219">https://github.com/BaseXdb/basex/issues/2219</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on arithemetic operations with last() and position()</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2220">https://github.com/BaseXdb/basex/issues/2220</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on contains-token() with token index</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2222">https://github.com/BaseXdb/basex/issues/2222</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Unexpected exception of arithemetic operations with positional expression</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2224">https://github.com/BaseXdb/basex/issues/2224</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Incorrect result count with multiple sequence operators</summary>
Status: fixed<br />
Link: <a href="https://github.com/BaseXdb/basex/issues/2225">https://github.com/BaseXdb/basex/issues/2225</a> <br />
Found by: ShuxinLi
</details>
<h3>eXist-db (6 bugs)</h3>
<details>
<summary>XQuery query with index after predicate selection</summary>
Status: confirmed<br />
Link: <a href="https://github.com/eXist-db/exist/issues/4968">https://github.com/eXist-db/exist/issues/4968</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>XQuery fails to select node with true predicate</summary>
Status: confirmed<br />
Link: <a href="https://github.com/eXist-db/exist/issues/4958">https://github.com/eXist-db/exist/issues/4958</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>XQuery bug of node selection of tail() after subsequence()</summary>
Status: fixed<br />
Link: <a href="https://github.com/eXist-db/exist/issues/4830">https://github.com/eXist-db/exist/issues/4830</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>XQuery bug on selecting nodes with last()</summary>
Status: confirmed<br />
Link: <a href="https://github.com/eXist-db/exist/issues/4824">https://github.com/eXist-db/exist/issues/4824</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>XQuery simple node selection return duplicate nodes</summary>
Status: confirmed<br />
Link: <a href="https://github.com/eXist-db/exist/issues/4811">https://github.com/eXist-db/exist/issues/4811</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>XQuery return wrong results on start-with comparison</summary>
Status: confirmed<br />
Link: <a href="https://github.com/eXist-db/exist/issues/4810">https://github.com/eXist-db/exist/issues/4810</a> <br />
Found by: ShuxinLi
</details>
<h3>Saxonica (4 bugs)</h3>
<details>
<summary>Bug on exist() with non-existing attribute</summary>
Status: fixed<br />
Link: <a href="https://saxonica.plan.io/issues/6051">https://saxonica.plan.io/issues/6051</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>NullPointerException with upper-case function</summary>
Status: fixed<br />
Link: <a href="https://saxonica.plan.io/issues/6067">https://saxonica.plan.io/issues/6067</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on predicate with last()</summary>
Status: fixed<br />
Link: <a href="https://saxonica.plan.io/issues/6093">https://saxonica.plan.io/issues/6093</a> <br />
Found by: ShuxinLi
</details>
<details>
<summary>Bug on '-' castable to xs:duration</summary>
Status: fixed<br />
Link: <a href="https://saxonica.plan.io/issues/6059">https://saxonica.plan.io/issues/6059</a> <br />
Found by: ShuxinLi
</details>
