<h2>Database Management Systems (15 bugs)</h2>
<h3>CockroachDB (6 bugs)</h3>
<details>
<summary>sql: support SCRUB on temp tables</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83770">https://github.com/cockroachdb/cockroach/issues/83770</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Internal Error: Comparison Overload not Found</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83792">https://github.com/cockroachdb/cockroach/issues/83792</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>ERROR: no builtin aggregate for SUM_INT on [unknown]</summary>
Status: confirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83874">https://github.com/cockroachdb/cockroach/issues/83874</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Crashing by EXPLAIN Statement</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83965">https://github.com/cockroachdb/cockroach/issues/83965</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Invalid Memory Address Error of Specific SQL Query</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83973">https://github.com/cockroachdb/cockroach/issues/83973</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error of Unique Index</summary>
Status: unconfirmed<br />
Link: <a href="https://github.com/cockroachdb/cockroach/issues/83976">https://github.com/cockroachdb/cockroach/issues/83976</a> <br />
Found by: bajinsheng
</details>
<h3>DuckDB (2 bugs)</h3>
<details>
<summary>BETWEEN with subquery and column results in unexpected error</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/3588">https://github.com/duckdb/duckdb/issues/3588</a> <br />
Found by: kokrui
</details>
<details>
<summary>Unexpected Error for RTRIM Function in Where Clause</summary>
Status: fixed<br />
Link: <a href="https://github.com/duckdb/duckdb/issues/3616">https://github.com/duckdb/duckdb/issues/3616</a> <br />
Found by: bajinsheng
</details>
<h3>TiDB (7 bugs)</h3>
<details>
<summary>incorrect unresolved column when using natural join</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35522">https://github.com/pingcap/tidb/issues/35522</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>unexpected unresolved column error when the view refers to dual table</summary>
Status: fixed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35527">https://github.com/pingcap/tidb/issues/35527</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Runtime error: invalid memory address</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35623">https://github.com/pingcap/tidb/issues/35623</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Result with a FALSE Expression in WHERE</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35645">https://github.com/pingcap/tidb/issues/35645</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error by CAST and CHAR functions</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35652">https://github.com/pingcap/tidb/issues/35652</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Error for Function INET_ATON</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35677">https://github.com/pingcap/tidb/issues/35677</a> <br />
Found by: bajinsheng
</details>
<details>
<summary>Unexpected Connection Lost</summary>
Status: confirmed<br />
Link: <a href="https://github.com/pingcap/tidb/issues/35678">https://github.com/pingcap/tidb/issues/35678</a> <br />
Found by: bajinsheng
</details>
